@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
}

body{
    width: 100%;
    display: flex;
    min-height: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}

.header{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    padding: 0.6rem 2rem 0.2rem 2rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    width: 150px;
    height:49px;
    cursor: pointer;
    overflow: hidden;
    padding: 0px;
}
.logo-img{
    max-width: 100%;
    max-height: 100%;
    text-decoration: none;
}


.navbar{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.navbar a{
    font-size: 0.8rem;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 200;
    margin-left: 2.5rem;
   
}


/*Get Started*/
a.login{
    font-size: 0.8rem;
    font-weight: 700;
    font-weight: bold;
    width: 100px;
    color: #FFFFFF;
    background:transparent;
    margin-left: 2.5rem;
    border: 1px solid white;
    border-radius:25px;
    padding: 6px 10px;
    cursor: pointer;
    transition: all .28s cubic-bezier(.25,.46,.45,.94);
}

a:hover{
    border-color: #60bcea;
    color: #60bcea;
}


/*more menu*/
#check{
    display: none;
}
.more{
    position: absolute;
    right: 10px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    display: none;
}


/*More Dropdown*/
.more-dropdown {
    overflow: hidden;
    align-self: center;
    margin-left: 1.5rem;
    display: none;
}
  
.more-dropdown .dropbtn {
    font-size: 0.8rem;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
    display: flex;
    justify-content:space-around;
    align-items: center;
  }
  

  
.more-dropdown-content {
    display: none;
    position: absolute;
    background-color: #292929;
    top: 3rem;
    right:15px;
    z-index: 1;
  }
  
.more-dropdown-content a {
    color: white;
    padding: 5px 10px;
   margin-top:5px;
   margin-bottom: 5px;
    text-decoration: none;
    display: block;
    position: relative;
    left:-18px;
  }
  

.more-dropdown:hover .more-dropdown-content {
    display: flex;
    flex-direction: column;
  }
  



@media(max-width:935px){
    .header{
        padding: 0.6rem 1rem; /*TB, LR*/    
    }
}

@media(max-width:520px){
    .more{
        display: inline-flex;
    }
  
    .navbar{
        background-color:#292929;
        position: absolute;
        top:100%;
        left:0;
        width:100%;
        height: 0;
        overflow: hidden;
        transition: .3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100;
        
        
    }
    #check:checked~.navbar{
        height: 17rem;
    }
    .navbar a{
        margin: 0.8rem 0;
    }

}



